<ion-header class="transparent">
    <ion-navbar hide-tabs>

    </ion-navbar>
</ion-header>

<ion-content>
    <div class="logo">
        <img src="assets/imgs/logo waypool-01.png" alt="logo">
    </div>

<div class="bg-white login">
    <div class="">
     <div [formGroup]="loginGroup" >
        <ion-list class="form">
            <ion-item>
                <ion-label></ion-label>
                <ion-input type="email"  text-right  formControlName="email" placeholder= "email universitario"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label></ion-label>
                <ion-input type="password" text-right  formControlName="password" placeholder= "Tú contraseña"></ion-input>
            </ion-item>
        </ion-list>
    </div>
    <button ion-button full class="bg-theme text-white btn rounded" (click)="logIn()" [disabled]="!loginGroup.valid">ENTRAR</button>


        </div>

    </div>
</ion-content>
