<ion-header class="bg-theme">
    <ion-navbar hideBackButton="true">
        <ion-title class="text-center">UNIVERSIDADES</ion-title>
    </ion-navbar>
    
</ion-header>

<ion-content class="bg-light">
    <p class="important"> Escoja la universidad para ver sus estadísticas </p> 
    <div>      
            <ion-card *ngFor="let university of allUniversity">                  
                        <button class="btn bg-theme text-white rounded"  (click)="chooseUniversity(university)">{{university.name}}</button>                          
            </ion-card>    
               
    </div>
</ion-content>
