page-operationDB {
    #map {
        z-index: -1;
        width: 100%;
        height: 100%;
        position:absolute;
        display: block;
        left: 0px;
        top: 7px;
      }
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        ion-item {
            .name {
                width: calc(100% - 70px);
                display: inline-block;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    ion-icon {
                        margin-left: 5px;
                    }
                }
            }
            .more {
                position: relative;
                right: 50px;
                width: 65px;
                display: inline-block;
                h2 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #3fb1df;
                    display: flex;
                    ion-icon {
                        margin-left: 5px;
                        font-size: 2rem;
                        margin-left: auto;
                        color: #222;
                    }
                }
            }
            p {
                font-size: 1.1rem;
                color: #777;
                font-weight: 400;
            }
        }
    }
    ion-card-content {
        padding-left: 60px !important;
        position: relative;
        .ride-detail {
            position: relative;
            margin-bottom: 1rem;
            p {
                font-size: 1.2rem;
                padding-left: 20px;
                position: relative;
                color: #777;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                .time {
                    width: 70px;
                    display: inline-block;
                    text-align: center;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 20px;
                background: #555;
                position: absolute;
                left: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .detail-text {
            height: 4.5rem;
            font-size: 1rem;
            color: #bfbfbf;
            text-transform: none;
            h2 {
                color: #0fc874;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 18px;
            }
        }
        .full.btn {
            float: right;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
            height: 35px;
            font-size: 1.2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    .col {
        padding-left: 0;
        padding-right: 0;
    }
    .priceDriver{
    position: absolute;
    left: 42px;
    bottom: 5px;
    font-size: 1.6rem !important;
    }
    .text-bold{
        font-weight: bolder
    }
    .important{
        margin: 14px;
        
        text-align: left;
        color: #4d5853;
    } 
    .badge{
        position: absolute;
        bottom: -5px;
        left: 86px;
    
    }
}
