<ion-header class="bg-theme">
    <ion-navbar>
        <ion-title class="text-center">{{universityName}}</ion-title>
    </ion-navbar>
    
</ion-header>

<ion-content class="bg-light">

        <button class="btn bg-theme text-white rounded" style="width: 90%;margin-top: 14px;margin-left: 18px;" (click)="goToPanel()" >Panel de control</button>                          

    <p class="important">Estos son los datos hasta esta fecha: {{today}} </p> 

    <div>
        <ion-list>
            <ion-card>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/trip.png">
                    </ion-avatar>
                    <div class="name">
                       
                        
                            <h2 >VIAJES
                            </h2>
                        
                        
                    </div>                   
                    <div class="more">
                        <ion-badge class="bg-yellow">{{showTrips}}</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/reserve.png">
                    </ion-avatar>
                    <div class="name">
                            <h2 >RESERVAS
                            </h2>              
                    </div>                   
                    <div class="more">
                        <ion-badge class="bg-yellow">{{showReserves}}</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/eye.png">
                    </ion-avatar>
                    <div class="name">
                            <h2 style="font-size: 10px">VECES QUE USUARIOS BUSCAN UN VIAJE
                            </h2>
                    </div>                   
                    <div class="more">
                        <ion-badge class="bg-yellow badge" >{{showTimes}}</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/eye.png">
                    </ion-avatar>
                    <div class="name">
                            <h2 style="font-size: 10px">DRIVERS
                            </h2>
                    </div>                   
                    <div class="more">
                        <ion-badge class="bg-yellow badge" >{{showDrivers}}</ion-badge>
                    </div>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/eye.png">
                    </ion-avatar>
                    <div class="name">
                            <h2 style="font-size: 10px">USUARIOS
                            </h2>
                    </div>                   
                    <div class="more">
                        <ion-badge class="bg-yellow badge" >{{showUsers}}</ion-badge>
                    </div>
                </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/eye.png">
                </ion-avatar>
                <div class="name">
                        <h2 style="font-size: 10px">Drivers con documentos incompletos
                        </h2>
                </div>                   
                <div class="more">
                    <ion-badge class="bg-yellow badge" >{{showDriversIncomplete}}</ion-badge>
                </div>
            </ion-item>
            </ion-card>
        

              
           
            <button  class="btn bg-green text-white rounded"  (click)="saveData()"style="width: 90%;margin-top: 14px;margin-left: 18px;">Enviar datos a la DB</button>

        </ion-list>

             

        
    </div>
</ion-content>
