<ion-header class="bg-theme">
    <ion-navbar >
        <ion-title class="text-center">PANEL DE CONTROL: {{universityName}}</ion-title>
    </ion-navbar>
    
</ion-header>

<ion-content class="bg-light">



    <div>
     
            <ion-card>
              
                   
                    <div class="name">                      
                            <h2 style="margin-left: 10px;margin-right: 10px;">Inserta el UID del usuario o driver y presiona el botón enviar para la info, enviar licencia sólo funciona para driver, los otros funcionan tanto para user como para driver. 
                            </h2>                   
                    </div>    
                    <div class="name">                      
                        <h2 style="margin-left: 10px;margin-right: 10px; color: brown;font-weight: bolder">Tener extremo cuidado en esta página cuando se conecte con la base de datos real. 
                        </h2>                   
                </div>                 
                    <div class="form">
                            <ion-list no-lines>
                                <ion-item>
                                    <ion-textarea [(ngModel)]="uid" type="text" placeholder="Escribe el Uid"></ion-textarea>
                                </ion-item>
                            </ion-list>
                        </div> 
                        <div *ngIf="showDriver"class="name">                      
                            <h2  >Nombre del conductor actual: {{driver.name}}
                            </h2>                   
                    </div>                      
                   
                        <button  class="btn bg-theme text-white rounded"  (click)="confirmDriver()"style="width: 90%;margin-top: 14px;margin-left: 18px;margin-bottom:20px">CONFIRMAR DRIVER</button>
                        <ion-row style="display: flex; flex-direction: row">
                            <button class="btn bg-theme text-white rounded"  (click)="markTrueLicense()"style="width: 32%;margin-top: 14px;margin-left: 9px;">aceptar licencia</button>
                            <button class="btn bg-theme text-white rounded"  (click)="markTrueId()"style="width: 29%;margin-top: 14px;margin-left: 9px;">aceptar id </button>
                            <button  class="btn bg-theme text-white rounded"  (click)="markTrueCarne()"style="width: 30%;margin-top: 14px;margin-left: 9px;">aceptar carné</button>

                        </ion-row>

                
            </ion-card>
        

              
           

    

             

        
    </div>
</ion-content>
